/*start nav and header coding*/

	

.bgimg{

	width: 100%;
	height: 500px;
	background-image: url("images/bg_2.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

@media(max-width: 768px){

	.bgimg{

	width: 100%;
	height: 500px;
	background-image: url("images/bg_2.jpg");
	background-size:cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
}

}

.overlay{

	width: 100%;
	height:500px;
	background-color: rgba(0,0,0,0.3);
	padding-top: 100px;
}

.company{

	color: black;
	font-size: 25px;
	font-weight: bold;
	font-family: arial;
	margin-left: 30px;
}

@media(max-width: 768px){

	.company{

	margin-left: 0px;
}

}

.company1{

	color:#FD77AE;
	font-size: 25px;
	font-weight: bold;
	font-family: arial;
}


.nav-item{

	margin-right: 30px;
}

@media(max-width: 768px){

	.nav-item{

	margin-right:0px;
}

}

.nav-link{
	color: black;
}

.nav-link:hover{
	color: #FD77AE;
}

.nav-link::after{

	content: '';
	display: block;
	width: 0;
	height: 2px;
	background:#FD77AE;
	transition: width .3s
}

.nav-link:hover::after{

	width: 100%;
	transition: width .3s;
}

.header-text{

	width: 100%;
	height: 300px;
	padding-top: 100px;
}

.header-text h3 a{

	font-size: 18px;
	font-family: arial;
	color: #dbdcde;
}

.header-text h3 a:hover{

	font-size: 18px;
	font-family: arial;
	color: #dbdcde;
	text-decoration: none;
}

.header-text h3 i{

	font-size: 15px;
	color: #dbdcde;
}

.header-text h5{

	font-size: 58px;
	font-family: arial;
	color:white;
}

/*close nav and header coding*/

/*start section coding*/

.contact{

	width: 100%;
	height: 1200px;
	background-color: #F3F4F7;
	padding-top: 70px;
}	

@media(max-width: 768px){

	.contact{

	width: 100%;
	height: 2300px;
	background-color: #F3F4F7;
	padding-top: 70px;
}	

}

.contact-img{

	width: 100%;
	height: 500px;
	background-image: url("images/about.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-info{

	width: 100%;
	height: 500px;
	background-color: white;
	padding:50px;
}


.contact-info h3{

	font-size: 30px;
	font-family: arial;
}


.contact-info p{

	color: #808080;
	font-size: 15px;
	font-family: arial;
	line-height: 25px;
	margin-top: 20px;
}

.contact-info button{

	width: 230px;
	height: 40px;
	background-color: #FD7792;
	color: white;
	letter-spacing: 3px;
	border-radius: 5px;
	border:none;
	font-size: 11px;
	font-family: arial;
	margin-top: 30px;
}

.contact-info button:hover{

	background-color: white;
	border:1px solid #FD7792;
	color: #FD7792;
}

.contact-form{

	width: 100%;
	height: 580px;
	background-color: white;
	padding: 40px;
}

.contact-form h3{

	font-family: arial;
	margin-top: 20px;
}

.contact-form p{

	font-family: arial;
	margin-top: 30px;
	color: #908090;
	font-size: 15px;
}


.fname{

	width: 100%;
	height: 80px;
	margin-top: 20px;
}

.fname h4{

	font-size: 14px;
	font-family: arial;
	font-weight: bold;
}

.fname input{

	width: 90%;
	height: 45px;
	border:none;
	border-bottom: 1px solid gray;
}

.ename{

	width: 100%;
	height: 80px;
	margin-top: 20px;
}

.ename h4{

	font-size: 14px;
	font-family: arial;
	font-weight: bold;
}

.ename input{

	width: 90%;
	height: 45px;
	border:none;
	border-bottom: 1px solid gray;
}

.subject h4{

	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	margin-top: 30px;
}

.subject input{

	width: 95%;
	height: 45px;
	border:none;
	border-bottom: 1px solid gray;
}

.message h4{

	font-size: 14px;
	font-family: arial;
	font-weight: bold;
	margin-top: 30px;
}

.message textarea{

	width: 95%;
	height: 45px;
	border:none;
	border-bottom: 1px solid gray;
}

.contact-form button{

	width: 150px;
	height: 40px;
	font-size: 11px;
	font-family: arial;
	color: white;
	letter-spacing: 3px;
	border-radius: 5px;
	border:none;
	background-color: #FD7792;
	margin-top: 20px;
}

.contact-form button:hover{

	background-color: white;
	border:1px solid #FD7792;
	color: #FD7792;
}

.contact-link{

	width: 100%;
	height: 580px;
	background-color:#FD7792;
	padding: 40px; 
}

.contact-link h3{

	font-family: arial;
	color: white;
	margin-top: 20px;
}
.contact-link p{

	color: #FFD3C7;
	font-family: arial;
	font-size: 15px;
	margin-top: 20px;
}

.falink{

	width:50px;
	height:50px;
	border-radius: 50%;
	border:1px solid #E6E6E6;
	margin-top: 30px; 
}

.falink i{

	color: white;
	font-size: 20px;
	padding: 15px;
}

.link-text{

	width: 300px;
	height: 50px;
	margin-top: 30px;
	padding-left: 20px;
}

.link-text h5{
	font-size: 14px;
	font-family: arial;
	color: #FFD3C7;
	line-height: 25px;
}
/*close section coding*/

/*start footer coding*/

.footer-part{

	width: 100%;
	height: 400px;
	background-color: #272727;
	padding-top: 120px;
}

@media(max-width: 768px){


	.footer-part{

	width: 100%;
	height: 1100px;
	background-color: #272727;
	padding-top: 120px;
}

}

.footer-heading{

	width: 100%;
	height: 200px;
}

.footer-heading h2 a{

	color: white;
	font-size: 20px;
	font-family: arial;
}

.footer-heading h2 a:hover{

	color: white;
	font-size: 20px;
	font-family: arial;
	text-decoration: none;
}

.footer-heading p{

	color:#686868;
	margin-top: 30px;
}

.footer-heading h5 a{

	color: #FD7792;
	font-size: 15px;
}

.footer-heading h5 a:hover{

	color: #FD7792;
	font-size: 15px;
	text-decoration: none;
}

.footer-heading h5 i{

	color: #FD7792;
	font-size: 12px;
}

.service{

	width: 100%;
	height: 250px;
}

.service h3{

	color: white;
	font-size: 20px;
	font-family: arial;
}

.service p a{

	color:#f2f2f2;
	font-size: 15px;
	font-family: arial;
}

.service p a:hover{

	color:#f2f2f2;
	font-size: 15px;
	font-family: arial;
	text-decoration: none;
}


.tag-cloud{

	width: 100%;
	height: 250px;
}

.tag-cloud h3{

	color: white;
	font-family: arial;
	font-size: 20px;
}

.tag-link{

	color: white;
	border:1px solid gray;
	padding: 6px;
	font-family: arial;
	font-size: 12px;
	line-height: 40px;
	border-radius: 3px;
}

.tag-link:hover{

	color: white;
	border:1px solid black;
	text-decoration: none;
	padding: 6px;
	font-family: arial;
	font-size: 12px;
	line-height: 40px;
	border-radius: 3px;

}

.subscribe{

	width: 100%;
	height: 250px;
}

.subscribe h3{

	color: white;
	font-family: arial;
	font-size: 20px;
}

.subscribe input{

	width: 100%;
	height: 45px;
	background-color: #323232;
	border:1px solid #323232;	
}

.subscribe a{

	border:1px solid gray;
	padding: 8px;
	border-radius: 3px;
}

.subscribe i{

	font-size: 20px;
}


.footer-last{

	width: 100%;
	height: 100px;
	background-color: #1A1A1A;
	padding-top: 40px;
	padding-bottom: 40px;
}

@media(max-width: 768px){

	.footer-last{

	width: 100%;
	height: 170px;
	background-color: #1A1A1A;
	padding-top: 40px;
	padding-bottom: 40px;
}

}

.footer-last p{

	color: #686868;
	text-align: left;
}

.footer-last a{

	color: #686868;
}

.footer-last a:hover{

	color: #686868;
	text-decoration: none;
}
.terms{

	margin-left: 15px;
}
/*close footer coding*/ 